.root {
  display: flex;
}

.toolbar {
  min-height: 64px;
}

.content {
  flex-grow: 1;
  padding: 24px;
  transition: margin 225ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
}

.contentShift {
  margin-left: 240px;
}

.container {
  padding: 24px;
}

.pageHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.taskListContainer {
  padding: 16px;
} 