.header {
  z-index: 1200;
}

.menuButton {
  margin-right: 16px;
}

.title {
  flex-grow: 1;
}

.actions {
  display: flex;
  align-items: center;
  gap: 8px;
}

.addButton {
  margin-right: 8px;
}

.activeLanguage {
  color: rgba(0, 0, 0, 0.87) !important;
  font-weight: 600 !important;
}

.inactiveLanguage {
  color: rgba(0, 0, 0, 0.6) !important;
  font-weight: 400 !important;
} 